@import url('https://fonts.cdnfonts.com/css/sofia-pro');

*,
::before,
::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  color: white;
  height: 100vh;
  font-family: 'Sofia Pro', sans-serif;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
  font-size: 0.7rem;
  position: sticky;
  top: 0;
  background-color: #363636;
  z-index: 1;
}

header h1 {
  background: -webkit-linear-gradient(#eee, #333);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

header > div {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.container {
  background-image: url('./assets/bg.jpg');
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  min-height: 100vh;
  padding: 1rem;
}

#title {
  text-align: center;
  margin: 1rem;
}

.search-container {
  display: flex;
  justify-content: center;
  align-content: center;
  gap: 1rem;
}

.search-container > * {
  padding: 0.5rem 1rem;
  background-color: white;
  border-radius: 0.25rem;
}

.search-container > button:hover {
  background-color: #363636;
  color: white;
}

.cards-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 20%;
  height: 30vh;
  background-color: white;
  border-radius: 1rem;
  color: black;
  padding: 1rem;
  transition: all 0.3s;
  background-color: #f9fcff;
  background-image: linear-gradient(147deg, #f9fcff 0%, #dee4ea 74%);
  gap: 1rem;
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.card > img {
  width: 30%;
  min-height: 100px;
}
